<font size="6">Your application of revised Simos method for calculation of criteria weights</font>

[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/cghiaus/ELECTRE_Tri/HEAD?labpath=Simos_revised%2FSimos_revised_yours.ipynb)

1. Upload your data file by dragging your file in data\ folder.
2. Change `data_file` accordingly.
3. Interpret the results.

# Data file

The data file for revised Simos' method is a [.csv](https://en.m.wikipedia.org/wiki/Comma-separated_values) text file that contains:

- Criteria grouped in categories from least important to most important; criteria considered equal are in the same category.
- Gaps between successive categories are indicated by `white` cards.
- Ratio between the importance of the most and least important category.

Examples data files are given in `data\` folder. Data files can be obtained with a [spreadsheet](https://en.m.wikipedia.org/wiki/Spreadsheet).

In [1]:
import sys
import os

"""
Append `src/` directory to `path`
"""
notebook_dir = os.path.dirname(os.path.abspath('__file__'))
project_root = os.path.dirname(os.path.dirname(notebook_dir))

src_dir = os.path.join(project_root, 'src')
sys.path.append(src_dir)

In [2]:
import pandas as pd

import Simos_revised

data_file = "../../data/cards_subsets_3.csv"
print("Example of data file")
pd.read_csv(data_file).fillna('')

Example of data file

       0        1       2  3      4     5
0   cost        g       l  m         zone
1      d                   n
2  white
3      b  finance  income  j
4  white
5  white
6      a        h             years
7      k

# Problem solving

The weighting problem is:

Given a set of ordered cards (from least to most important), and the ratio of the importance between most and least important, obtain the weights of each criterion.

In [3]:
set_cards = "../../data/cards_subsets_3.csv"

# The last subset is `z` more important than the 1st one
z = 5

df = Simos_revised.criteria_weights_Simos(set_cards, z)

# Results

The result is a list of criteria (in alphabetical order) and their weights.

In [4]:
print(f"\nResults for {set_cards} with z = {z}:\n")
print("Sorted by criteria name")
df.sort_values(by=['Criteria'])

Results for ../../data/cards_subsets_3.csv with z = 5:

Sorted by criteria name

   Criteria     Weight
11        a  12.554113
7         b   7.359307
0      cost   2.164502
5         d   3.896104
8   finance   7.359307
1         g   2.164502
12        h  12.554113
9    income   7.359307
10        j   7.359307
14        k  14.285714
2         l   2.164502
3         m   2.164502
6         n   3.896104
13    years  12.554113
4      zone   2.164502

The result may be is a list of criteria ordered in function of their weights.

In [5]:
print("Sorted weight values")
df.sort_values(by=['Weight'])

Sorted weight values

   Criteria     Weight
0      cost   2.164502
1         g   2.164502
2         l   2.164502
3         m   2.164502
4      zone   2.164502
5         d   3.896104
6         n   3.896104
7         b   7.359307
8   finance   7.359307
9    income   7.359307
10        j   7.359307
11        a  12.554113
12        h  12.554113
13    years  12.554113
14        k  14.285714